<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cainiao.cncooperation">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".app.CNApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_home"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TransStatusBar">
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.account.AccountActivity">
        </activity>
        <activity android:name=".ui.activity.TestSelectImageActivity">
        </activity>
        <activity android:name="com.cainiao.common.widget.camera.ImageSelectActivity"/>
        <activity
            android:name=".ui.dynamic.FriendCircleActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".ui.message.MessageActivity">
        </activity>
        <activity android:name=".ui.account.ForgetPasswordActivity"/>
        <activity
            android:name=".ui.dynamic.DynamicPublishActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ui.dynamic.FriendCircleDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".ui.account.PersonalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".ui.setting.SettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1fd660ab8ad83"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="caff30558433c093786ec6940f22d9df"/>

        <activity
            android:name=".ui.account.EditorInfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.cainiao.cncooperation.FileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/rc_file_path" /> -->
        <!-- </provider> -->


        <!-- imlib config begin -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="sfci50a7s1b2i"/>

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:exported="true"
            android:process=":ipc"/>
        <service
            android:name="io.rong.imlib.ReConnectService"
            android:exported="true"/>

        <receiver
            android:name="io.rong.imlib.ConnectChangeReceiver"
            android:exported="true"/>
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc"/>
        <!-- imlib config end -->


        <!-- 必选： SDK 核心功能 -->
        <!-- 第三方相关,向第三方推送服务请求 token 的服务 -->
        <service
            android:name="io.rong.push.core.PushRegistrationService"
            android:exported="false">
        </service>

        <!-- 处理 push 消息相关的服务 -->
        <service
            android:name="io.rong.push.core.MessageHandleService"
            android:exported="true">
        </service>

        <!-- push服务 -->
        <service
            android:name="io.rong.push.PushService"
            android:exported="true"
            android:process="io.rong.push"> <!-- push进程，可以改名 -->
        </service>

        <!-- push 相关事件接收器 -->
        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push"> <!-- 此处进程可以改名，名称需要和PushService所在进程统一 -->
            <!-- 心跳事件 -->
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT"/>
            </intent-filter>
            <!-- 网络变动事件 -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- 部分用户事件 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.im.IMActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".ui.im.ChatActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>


        <receiver
            android:exported="true"
            android:name="com.cainiao.factory.app.CNNotificationReceiver">

            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>